.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  width: 1200px;
}
a {
  text-decoration: none;
}
.logo {
position: absolute;
content: "";
top: 0;
left: 460px;
z-index: 10;
}
.state-map {
  padding-left: 388px;
}
.main-navigation {
  display: flex;
  font-size: 14px;
  line-height:26px;
  font-weight: 600;
  color:#000000;
  text-transform: uppercase;
  position: relative;
  padding-top: 15px;
}
.user-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  min-height: 42px;
  width: 1160px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.photo {
  padding-left: 148px;
}
.user-navigation a {
  color:#000000;
}
.user-navigation a:hover {
  color:#81b3d2;
}
.user-navigation a:active,
.user-navigation a:focus {
  color:#000000;
  opacity: 0.3;
}
.mount-img {
  background-color: #e5f2fa;
  background-image: url("../img/background-main.png");
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 512px;
  background-size: 1200px 507px;
  position: relative;
}
.mount-img::before {
  position: absolute;
  content: "";
  display: block;
  background: url(../img/polygon.png);
  bottom: 0;
  left: 0;
  width:1200px ;
  height:59px ;
}
.main-description {
  font-size: 21px ;
  line-height: 26px ;
  font-weight: 600 ;
  text-align: center;
  width: 440px;
margin-top: 56px;
  margin-left: 308px;
}
.reasons{
  font-size: 14px ;
  line-height: 26px ;
  font-weight: 400 ;
  color: #333333;
  margin-top: 27px;
    margin-right: 145px;
    margin-bottom: 50px;
}
.advantage-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.blue {
  background-color: #81b3d2;
  width: 329px;
}
.white-header{
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
.white-reason{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.white-description{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.first-blue {
      margin-left: -13px;
  width: 284px;
      margin-top: 22px;
}
.second-blue {
  width: 303px;
}
.sedona-prons{
  list-style: none;
  display: flex;
  padding: 0;
}

.accommodation{
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
  color: #000000;
  text-align: center;
}
.accommodation-description{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  width: 258px;
  text-align: center;
}

.food{
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
  color: #000000;
  text-align: center;
}
.food-description{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  width: 290px;
}

.souvenirs{
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
  color: #000000;
  text-align: center;
}
.souvenirs-description{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  width: 279px;
}
.sights-header{
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.sights-reason{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.sights-description{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  width: 213px;
  text-align: center;
}
.road-header{
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.road-reason{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.road-description{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  width: 270px;
  text-align: center;
}
.tourists-header{
  font-size: 21px;
  line-height: 21px;
  font-weight: 600;
  color: #000000;
  text-align: center;
}
.tourists-reason{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
.tourists-description{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  width: 250px;
  text-align: center;
}
.interest{
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
}
.dates{
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  width: 440px;
  text-align: center;
  margin: 0;
}
.search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  cursor: pointer;
}
.form-label{
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
}
.form-input {
font-family: PT Sans, Arial, sans-serif;
font-size: 14px;
line-height: 26px;
text-align: center;
color: #000000;
border: none;
background: #f2f2f2;
}
.form-input::placeholder {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
}
.search-btn {
  background-color: #81b3d2;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}
.visitsedona {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 600;
}
.Website {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
}
.search:hover {
  background-color:#604e43;
}
.search:active,
.search:focus {
  background-color:#503e33;
color: #857871;
}
.background {
  background-image: url("../img/mount-background.png");
  background-color: #81b3d2;
}
.facilities{
  border: none;
}
.housing {
  border: none;
}
.roller {
  border: none;
}
.infrastructure {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 600;
}
.housing-type {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 600;
}
.inner-label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
}
.facilities-list{
  list-style: none;
}
.housing-list {
  list-style: none;
}
.daily-price {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 600;
}
.found {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 600;
  margin: 0;
}
.sort-title{
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
}
.filter-link {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  opacity: 0.3;
  border-bottom: 1px dotted #81b3d2;
}
.filter-link:hover{
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}
.filter-link:active,
.filter-link:focus{
color: #000000;
border: none;
opacity: 1;
}
.filter-active {
  color: #81b3d2;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  border-bottom: none;
}
.hotel-header {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 600;
}
.price-heade {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
}
.detail-btn {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  background-color: #81b3d2;
}
.book-btn {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
  background-color: #766357;
}
.filter-up-down {
  list-style: none;
}
.filter {
  list-style: none;
  display: flex;
  margin: 0;
}
.rating {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  font-weight: 400;
  background-color: #f2f2f2;
}
.grey {
  background-color: #eeeeee
}
.display {
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  color: #ffffff;
  text-transform:uppercase;
  cursor: pointer;
}
.filter-price {
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  color: #ffffff;
}
.filter-price::placeholder {
  color: #ffffff;
  text-transform:uppercase;
}
.search-btn:hover{
  background-color: #669ec0;
}
.search-btn:active,
.search-btn:focus{
  background-color: #5496bd;
  color: #94b9d2;
}
.form-input:hover{
  background-color: #ebebeb;
}
.form-input:active,
.form-input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.calendar {
  color: #a9a9a9;
}
.calendar:hover {
  color: #000000;
}
.calendar:active,
.calendar:focus{
color: #81b3d2;
}
.index-btn {
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}
.index-btn:hover{
  color: #000000;
}
.index-btn:active,
.index-btn:focus {
  color: #81b3d2;
}
.html {
  color: #000000;
}
.html:hover{
  color: #81b3d2;
}
.html:active,
.html:focus {
  color: #cfcece;
}
.detail-btn:hover {
  background-color: #669ec0;
}
.detail-btn:active,
.detail-btn:focus{
  background-color: #5496bd;
  color: #88b6d1;
}
.book-btn:hover {
  background-color: #604e43;
}
.book-btn:active,
.book-btn:focus{
  background-color: #604e43;
  color: #857871;
}
.hotel-header:hover{
  color: #a8c9df;
}
.hotel-header:active,
.hotel-header:focus {
  color: #cacaca;
}
.hotel-active {
  color: #9b8d84;
}
.display:hover{
  background-color: #ffffff;
  color: #000000;
}
.main-prons {
  display: flex;
height: 256px;
overflow: hidden;
}
.first-mount {
  position: relative;
  overflow: hidden;
  width: 800px;
}
.first-img{
  position: absolute;
  left: 50%;
  top:50%;
transform: translate(-50%,-50%);
min-width: 100%;
min-height: 100%;
}
.sub-point {
  margin-top: 142px;
  margin-bottom: 69px;
  display: flex;
  width: 100%;
}
.bridge {
  display: flex;
  height: 256px;
  overflow: hidden;
}
.second-mount {
  position: relative;
  width: 800px;
}
.second-img {
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
min-width: 100%;
min-height: 100%;
}
.prons {
  display: flex;
}
.hotel-list {
  text-align: center;
  position: relative;
}
.main-footer {
  display: flex;
justify-content: space-between;
width: 1160px;
}
.social {
  list-style: none;
  display: flex;
  width: 151px;
  justify-content: space-between;
}
.description {
  text-align: center;
}
.inner-form {
display: flex;
min-height: 217px;
width: 1160px;
justify-content: space-between;
}
.inner-nav {
  display: flex;
}
.choice-list {
  display: flex;
}
.results {
  display: flex;
}
.html-acd {
  display: flex;
}
.sedona-accommodation {
  position: relative;
}
.sedona-accommodation::before {
  position: absolute;
  content: "";
  width:75px ;
  height:72px ;
  top: -81px;
  left: 90px;
  background: url(../img/icon-1.svg)
}
.sedona-food
{
  position: relative;
  padding-left: 127px;
}
.sedona-food::before {
  position: absolute;
  content: "";
  width:74px ;
  height:70px ;
  top: -81px;
  left: 234px;
  background: url(../img/icon-3.svg)
}
.sedona-souvenirs {
  position: relative;
      padding-left: 115px;
}
.sedona-souvenirs::before {
  position: absolute;
  content: "";
  width:64px ;
  height:76px ;
  top: -86px;
  left: 222px;
  background: url(../img/icon-2.svg)
}
.index-sights {
  padding-top: 26px;
padding-bottom: 75px;
padding-right: 129px;
  background-color: #eeeeee;
}
.choice {
  position: absolute;
content: "";
background-color: white;
top: 136px;
left: 406px;
width: 570px;
height: 398px;
}
.social-link{
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  align-items: center;
}
.htls {
padding-left: 166px;
}
.welcome-img {
  padding-left: 300px;
  padding-top: 74px;
}
.real-town {
  margin-top: 48px;
      margin-bottom: 23px;
    margin-left: 68px;
    width: 123px;
}
.first-number {
      margin-right: 70px;
}
